vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-OD4M1AO\\vince
vti_modifiedby:SR|DESKTOP-OD4M1AO\\vince
vti_timelastmodified:TR|01 Mar 2019 20:31:03 -0000
vti_timecreated:TR|09 Feb 2019 01:43:10 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Assignment03/Assignment03.html
vti_nexttolasttimemodified:TW|01 Mar 2019 20:30:50 -0000
vti_cacheddtm:TX|01 Mar 2019 20:31:03 -0000
vti_filesize:IR|2227
vti_cachedlinkinfo:VX|S|images/background1.jpg S|images/bander2.png S|images/bander2.png
vti_cachedsvcrellinks:VX|FSUS|Assignment03/images/background1.jpg FSUS|Assignment03/images/bander2.png FSUS|Assignment03/images/bander2.png
